EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_GEMINI_API_KEY=
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=
EXPO_PUBLIC_LINE_SHARE_URL=line://msg/text/
EXPO_PUBLIC_TIKTOK_SHARE_URL=
EXPO_PUBLIC_SHOPEE_SHARE_URL=
